@import "tailwindcss";

:root {
  --backgroundPrimary: #ffffff;
  --backgroundSecondary: #f8fafc;
  --text-white: #f8fafc;
  --backgroundStreak: #dcfce7;
  --backgroundIcon: #f1f5f9;

  --text-primary: #11182b;
  --text-accent: #6a7282;
  --text-secondary: #2563eb;
  --text-tertiary: #9fa9b7;
  --text-success: #22c55e;
  --error: #ef4444;

  --background: #ffffff;
}

@theme {
  --color-backgroundPrimary: var(--backgroundPrimary);
  --color-backgroundSecondary: var(--backgroundSecondary);
  --color-backgroundStreak: var(--backgroundStreak);
  --color-backgroundIcon: var(--backgroundIcon);

  --color-textPrimary: var(--text-primary);
  --color-textWhite: var(--text-white);
  --color-textAccent: var(--text-accent);
  --color-textSecondary: var(--text-secondary);
  --color-textTertiary: var(--text-tertiary);
  --color-textSuccess: var(--text-success);
  --color-error: var(--error);

  --color-background: var(--background);

  --default-font-family: "Roboto", sans-serif;
}

&.dark-mode {
  --backgroundPrimary: #1e293b;
  --backgroundSecondary: #0f1a2a;
  --backgroundStreak: #14532d;
  --backgroundIcon: #1e293b;

  --text-primary: #f8fafc;
  --text-white: #f8fafc;
  --text-accent: #94a3b8;

  --text-tertiary: #64748b;
  --text-success: #4ade80;
  --error: #f87171;

  --background: #18212f;
}

@custom-variant dark (&:where(.dark-mode, .dark-mode *));

/* Optional: Dark mode overrides */
/* body.dark {
  --backgroundPrimary: #0f172a;
  --backgroundSecondary: #1e293b;
  --primary: #f8fafc;
  --secondary: #60a5fa; */
/* etc... */
/* } */
